<!DOCTYPE html>
<html>
	<head>
		<title> Form Torneo </title>
	</head>
	<body>
		<h1> Aggiungi Torneo </h1>
		<form th:action = "@{/admin/tornei}" th:method = "POST" th:object = "${torneo}">
			<div th:if = "${#fields.hasGlobalErrors()}">
				<p th:each = "err : ${#fields.globalErrors()}" th:text = "${err}"></p>
			</div>
			<div>
				Nome: <span><input type = "text" th:field = "${torneo.nome}"></span>
				<span th:if="${#fields.hasErrors('nome')}" th:errors ="*{nome}"></span>
			</div>
			<div>
				Anno: <span><input type = "text" th:field = "${torneo.anno}"></span>
				<span th:if = "${#fields.hasErrors('anno')}" th:errors = "*{anno}"></span>
			</div>
			<div>
				Descrizione: <span><input type = "text" th:field = "${torneo.descrizione}"></span>
				<span th:if = "${#fields.hasErrors('descrizione')}" th:errors = "*{descrizione}"></span>
			</div>
			<div>
				<span><button type = "submit"> Conferma </button></span>
			</div>
		</form>
	</body>
</html>
